<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
</head>

<header>
  <a href="/">
  <img src="bee_logo.png" class="logo" alt="BeeNBee Logo">
  <h1>Bee N Bees.com</h1>
  </a>
</header>

<h1>Property Confirmation</h1>
<p>You have added the following property:</p>
<div><p>Property Name:</p> 
  <%= @added_property.property_name %>
  <p>Property Description:</p>
  <%= @added_property.description %>
  <p>Property Price: </p>
  <%= @added_property.price %>
</div>

<form action='/properties' method='get'>
  <input type='submit' value='View Properties'/>
</form>