<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
</head>

<header>
  <a href="/">
  <img src="bee_logo.png" class="logo" alt="BeeNBee Logo">
  <h1>Bee N Bees.com</h1>
  </a>
</header>

<h1>ADD PROPERTY PAGE</h1>
<form action='/add_property' method='post'>
  <input type='text' name='property_name' placeholder='Property Name'/>
  <input type='text' name='description' placeholder='Description'/>
  <input type='text' name='price' placeholder='Price in a decimal value'/>
  <input type='text' name='host_name' placeholder='Host Name'/>
  <input type='submit' name='Submit'/>
</form>

<form action='/' method='get'>
  <input type='submit' value='Back'/>
</form>