<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">    
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<header>
  <a href="/">
  <img src="bee_logo.png" class="logo" alt="BeeNBee Logo">
  <h1>Bee N Bees.com</h1>
  </a>
</header>

<body>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/properties">View Properties</a>
    <a href="/add_property" class="active">Add a Property</a>
    <a href="/log_in" class="right">Log in/Sign up</a>
    <a href="/contact_page">Contact us!</a>
  </div>

<div class="adding_details">
  <h2>Add the details of your property here</h2>
    <form action='/add_property' method='post'>
    <input type='text' name='property_name' placeholder='Property Name: ...'/>
    <br>
    <input type='text' name='description' placeholder='Description: ...'/>
    <br>
    <input type='text' name='price' placeholder='£0.00: ...'/>
    <br>
    <input type='text' name='host_name' placeholder='Your Name: ...'/>
    <br>
    <br>
    <input type='submit' name='Submit'/>
  </form>
</div>

<div class="back_button">
  <form action='/' method='get'>
    <input type='submit' value='Back'/>
  </form>
</div>
</body>