<h1>Booking Confirmation</h1>
<p>You have booked the following property:</p>
<div><p>Property Name:</p> 
  <%= @booked_property.property_name %>
  <p>Property Description:</p>
  <%= @booked_property.description %>
  <p>Your host is: </p>
  <%= @booked_property.host_name %>
</div>
<p>Enjoy your stay!</p>