<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">    
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<header>
  <a href="/">
  <img src="bee_logo.png" class="logo" alt="BeeNBee Logo">
  <h1>Bee N Bees.com</h1>
  </a>
</header>

<body>
  <h2>Booking Confirmation</h2>

  <br>

  <div class="thanks">
    <p>You have booked the following property:</p>
  </div>
  <br>
  <br>

  <div class="listing">
    <p><b>Property Name: </b><%= @booked_property.property_name %></p> 
    <br>
    <p><b>Property Description: </b><%= @booked_property.description %></p>
    <br>
    <p><b>Your host is: </b><%= @booked_property.host_name %></p>
  </div>

  <br>

  <div class="thanks">
    <p>Enjoy your stay!</p>
  </div>

</body>