<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
</head>

<header>
  <a href="/">
  <img src="bee_logo.png" class="logo" alt="BeeNBee Logo">
  <h1>Bee N Bees.com</h1>
  </a>
</header>
<h1>Booking Confirmation</h1>
<p>You have booked the following property:</p>
<div><p>Property Name:</p> 
  <%= @booked_property.property_name %>
  <p>Property Description:</p>
  <%= @booked_property.description %>
  <p>Your host is: </p>
  <%= @booked_property.host_name %>
</div>
<p>Enjoy your stay!</p>

<form action='/properties' method='get'>
  <input type='submit' value='Back'/>
</form>