<h1>Booking Confirmation</h1>
<p>You have booked the following property:</p>
<div> 
  <%= #property.name %>
  <%= #property.description %>
  <p>Your host is: </p>
  <%= #property.host %>
</div>
<p>Enjoy your stay!</p>