<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<header>
  <a href="/">
  <img src="bee_logo.png" class="logo" alt="BeeNBee Logo">
  <h1>Bee N Bees.com</h1>
  </a>
</header>

  
<body>
  <div class="navbar">
<a href="/">Home</a>
<a href="/properties">View Properties</a>
<a href="/add_property">Add a Property</a>
<a href="/log_in" class="right">Log in/Sign up</a>
<a href="/contact_page" class="active">Contact us!</a>
  </div>


    <div class="contact-form">
        <form action='/contact_page' method='post'>
        <h1 class="form-header">Contact Form</h1>
        <input type="text" name="fname" class="input-field" placeholder="First Name">
        <input type="text" name="lname" class="input-field" placeholder="Last Name">
        <input type="email" name="email" class="input-field" placeholder="Email">
        <textarea type="text" name="message" class="input-field textarea-field" placeholder="Message"></textarea>
        <input type="submit" class="btn" name='Send Message'/>
        </form>
    </div>
</body>
