<head>
  <title>email comfirmation</title>
  <link rel="stylesheet"type="text/css"href="stylesheet.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
</head>
<body>
<header>

</header>

<p>Thank you for your message!</p>