<head>
  <title>Contact form</title>
  <link rel="stylesheet"type="text/css"href="stylesheet.css"/> 
</head>
<body>
<header>

</header>
<div class="contact-form">
<form action='/contact_page' method='get'>
  <div>   
  <h1 class="form-header">Contact Form</h1>
  </div>
   <div>
    <input type="text" name="fname" class="input-field" placeholder="First Name">
    <input type="text" name="lname" class="input-field" placeholder="Last Name">
    <input type="email" name="email" class="input-field" placeholder="Email">
    <textarea type="text" name="message" class="input-field textarea-field" placeholder="Message"></textarea>
   </div>
   <div>
    <button type="submit" class="btn">Send Message</button>
    </div>
 </form>
  </div>
</body>
