<head>
  <title>email comfirmation</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"type="text/css"href="stylesheet.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
</head>

<header>
<a href="/">
  <img src="bee_logo.png" class="logo" alt="BeeNBee Logo">
  </a>
  <h1>Bee N Bees.com</h1>
</header>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/properties">View Properties</a>
        <a href="/add_property">Add a Property</a>
        <a href="/log_in" class="right">Log in/Sign up</a>
        <a href="/contact_page" class="active">Contact us!</a>
    </div>

    <div class=confirmation>
        <p>Thank you for your message.</p>
        <p>Someone from our customer service team will get back to you soon.</p>
    </div>
</body>