<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  </head>

  <header>
    <a href="/">
    <img src="bee_logo.png" class="logo" alt="BeeNBee Logo">
    </a>
    <h1>Welcome to <br> Bee N Bees.com!</h1>
  </header>

  
  <body>
    <div class="navbar">
  <a href="/" class="active">Home</a>
  <a href="/properties">View Properties</a>
  <a href="/add_property">Add a Property</a>
  <a href="#" class="right">Log in/Sign up</a>
  <a href="/contact_page">Contact us!</a>
    </div>

 <img src="mainimg.jpg" class="main_img">

    <div class="message">
     Don't ask our app why it has blank spaces or missing features, it is very self conscious about the way it looks.
    </div>

  </body>
</html>
