<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
</head>
<body>
  <h1>Welcome to Makers BnB!</h1>
<form action="/properties" method="get">
  <input type="submit" value="View Properties">
  </form>  
  </body>
</html>