<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  </head>
  <body>
    <div class="header">
      <h1>Welcome to Makers Bee n Bee</h1>
      <p>The busiest bees in town</p>
    </div>
  <form action="/properties" method="get">
    <input type="submit" value="View Properties">
  </form>
  <form action="/add_property" method="get">
    <input type="submit" value="Add a Property?">
  </form>
  </body>
</html>
