<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  </head>

  <header>
    <a href="/">
    <img src="bee_logo.png" class="logo" alt="BeeNBee Logo">
    </a>
    <h1>Welcome to Bee N Bees.com!</h1>
  </header>
  
  <img src="mainimg.jpg" class="main_img">
  
  <body>
    <div class="header">
      <h1>Welcome to Makers Bee n Bee</h1>
      <p>The busiest bees in town</p>
    </div>

    <div class="navbar">
  <a href="/" class="active">Home</a>
  <a href="/properties">View Properties</a>
  <a href="/add_property">Add a Property</a>
  <a href="#" class="right">Log in/Sign up</a>
</div>

  </body>
</html>
