<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  </head>

  <header>
    <a href="/">
    <img src="bee_logo.png" class="logo" alt="BeeNBee Logo">
    </a>
    <h1>Welcome to Makers BnB!</h1>
  </header>
  
  <body>
  <form action="/properties" method="get">
    <input type="submit" value="View Properties">
  </form>
  <form action="/add_property" method="get">
    <input type="submit" value="Add a Property?">
  </form>
  </body>
</html>
