<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  </head>
  <body>
    <div class="header">
      <h1>Welcome to Makers Bee n Bee</h1>
      <p>The busiest bees in town</p>
    </div>

    <%# <div class="view_properties_button">
      <form action="/properties" method="get">
       <input type="submit" value="View Properties">
      </form>
    </div>

    <div class="add_properties_button">
      <form action="/add_property" method="get">
        <input type="submit" value="Add a Property?">
      </form>
    </div> %>

    <div class="navbar">
  <a href="/" class="active">Home</a>
  <a href="/properties">View Properties</a>
  <a href="/add_property">Add a Property</a>
  <a href="#" class="right">Log in/Sign up</a>
</div>

  </body>
</html>
