<h1> List properties page </h1>
<ul>
<% @properties.each do |property| %>
<li>
  <%= property.property_name %>
  <form action='/booking_confirmation/<%= property.id %>' method='post'>
  <input type='submit' value='Book Now!'/>
</li>
<% end %>
</ul> 
