<form action='/#' method='post'>
  <input type='text' name='Username' placeholder='Username'/>
  <br>
  <input type='text' name='Password' placeholder='Password'/>
  <br>
  <br>
  <a href="/register">Don't have an account? Make one here!</a>  
  <br>
  <br>
  <input type='submit' name='Log in'/>
</form>

