<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<header>
  <a href="/">
  <img src="bee_logo.png" class="logo" alt="BeeNBee Logo">
  <h1>Bee N Bees.com</h1>
  </a>
</header>

<body>

<div class="navbar">
  <a href="/">Home</a>
  <a href="/properties">View Properties</a>
  <a href="/add_property">Add a Property</a>
  <a href="/contact_page">Contact us!</a>
</div>

<h2>Login Page</h2>

<form action='/#' method='post'>
  <input type='text' name='Username' placeholder='Username'/>
  <br>
  <input type='text' name='Password' placeholder='Password'/>
  <br>
  <br>
  <a href="/register">Don't have an account? Make one here!</a>  
  <br>
  <br>
  <input type='submit' name='Log in'/>
</form>

