<form action='/#' method='post'>
  <input type='text' name='Username' placeholder='Username'/>
  <br>
  <input type='text' name='Password' placeholder='Password'/>
  <br>
  <input type='text' name='Repeat Password' placeholder='Repeat Password'/>
  <br>
  <input type='text' name='Email' placeholder='Email'/>
  <br>
  <br>
  <input type='submit' name='Register'/>
</form>
