/* <link rel="stylesheet"type="text/css"href="stylesheet.css"/> */
body {
  color: lightblue;
}

header {
  background-color: rgb(155, 233, 152);
  color: rgb(75, 75, 158);
  padding: 20px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 20px 0px;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 60;
  color: rgb(75, 75, 158);
}

h2 {
  background-color: rgb(155, 233, 152);
  color: rgb(75, 75, 158);
}

.logo { width: auto;
        height: 150px; 
        padding: 50px, 50px;
        position: absolute;
        left:40px;
        top:40px;
}

a:link {
  text-decoration: none;
}
a:visited {
  color: blue;
}

.main_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.navbar {
  overflow: hidden;
  background-color: darkkhaki;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: yellow;
  color: blue;
}

.navbar a.active {
  background-color: lightblue;
  color: blue;
}

.contact-form{
  width: 500px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #999;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

form{
  margin: 35px;
}

.form-header{
  font-size: 35px;
  text-align: center;  
}

.input-field{
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
  }

.textarea-field{
  height: 150px;
  padding-top: 10px;
}

.btn{
  border-radius: 20px;
  color: black;
  margin-top: 18px;
  padding: 10px;
  background-color: rgb(155, 233, 152);
  font-size: 12px;
  border: none;
  cursor: pointer;
}
/* blue from logo - rgb(0, 156, 247) */