/* <link rel="stylesheet"type="text/css"href="stylesheet.css"/> */
body {
  background-color: lightgrey;
  color: black;
}

.message {
  margin-top: 20px;
  color: black;
  text-align: center;
  forced-color-adjust: black
}

header {
  background-color: yellow;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0px;
  border-radius: 20px;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 60;
  color: black;
  word-spacing: 2;
}

h2 {
  font-family: 'Bangers', cursive;
  font-size: 20;
  color: orange;
  text-align: center;
  margin-top: 10px;
  word-spacing: 2;
  letter-spacing: 2;
}

.logo {
  width: auto;
  height: 150px;
  padding: 50px, 50px;
  position: absolute;
  left: 40px;
  top: 40px;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: purple;
}

.main_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.navbar {
  overflow: hidden;
  background-color: yellow;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-radius: 10px;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: rgba(34, 32, 32, 0.518);
  color: orange;
}

.navbar a.active {
  background-color: black;
  color: orange;
}

input {
  color: yellow;
  background-color: black;
}

.contact-form {
  width: 500px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #999;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

form {
  margin: 35px;
}

.form-header {
  font-size: 35px;
  text-align: center;  
}

.input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
  }

.textarea-field {
  height: 150px;
  padding-top: 10px;
}

.btn {
  border-radius: 20px;
  color: black;
  margin-top: 18px;
  padding: 10px;
  background-color: rgb(155, 233, 152);
  font-size: 12px;
  border: none;
  cursor: pointer;
}

/* blue from logo - rgb(0, 156, 247) */

::placeholder {
  background-color: darkgrey;
  color: grey;
  text-align: center;
}

.back_button {
  margin-top: 300;
  font-size: 30px;
  text-align: center;
  color: black;
  justify-content: center;
  align-items: center;
  text-size-adjust: 30px;
}

.filter {
  margin-top: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.listing {
  background-color: white;
  width: 300px;
  border: 5px solid black;
  padding: 50px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 500px;
}

.thanks {
  margin-left: 650px;
}

body div p, div.navbar, form a {
  font-family: 'Roboto', cursive;
  font-size: 20;
  font-weight: 400;
}