/* <link rel="stylesheet"type="text/css"href="stylesheet.css"/> */
body {
  color: lightblue;
}

h1 {
  background-color: yellow;
  color: blue;
}

input {
  background-color: yellow;
  color: blue;
}

.header {
  padding: 30px;
  text-align: center;
  background: yellow;
  color: blue;
  font-size: 30px;
}

.view_properties_button {
  padding: 10px;
  text-align: center;
  margin-right: 550px;
  margin-top: 250px;
  font-size: 15px;
}

.add_properties_button {
  padding: 10px;
  text-align: center;
  margin-left: 550px;
  margin-top: -55px;
  font-size: 15px;
}